.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://media.architecturaldigest.com/photos/60e85415e7a72cd8dc8e9a92/master/pass/276%20coach.jpeg');
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.title {
  font-size: 10rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px #000;
  margin-bottom: 1rem;
}

.description {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px #000;
  margin-bottom: 2rem;
}

.link {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  border-color: #000;
  font-size: 1.75rem;
}